SECRET_KEY=your-very-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database


# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=your-app-password

# Company Contact
COMPANY_WHATSAPP=+237651211000
COMPANY_EMAIL=info@techpro.com
COMPANY_PHONE=+237651211000
COMPANY_ADDRESS=Bamenda, Cameroon
